<?php

$header = <<<EOF
This file is part of the MidnightLukePhpUnitsOfMeasureBundle package.

(c) Luke Bainbridge <http://www.lukebainbridge.ca/>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
EOF;

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__)
;

return PhpCsFixer\Config::create()
    ->setRules(array(
        '@PSR2' => true,
        '@Symfony' => true,
        'header_comment' => ['header' => $header],
        'array_syntax' => ['syntax' => 'short'],
    ))
    ->setFinder($finder)
;
